version: "3"
services:
  app:
    build: app
    ports:
      - 127.0.0.1:8080:8080
    environment:
      DOCKER_HOST: http://docker:2376
      DOCKER_CERT_PATH: /certs/client
      DOCKER_TLS_VERIFY: 1
      # See app/config.toml as well
    volumes:
      - docker_certs:/certs
      - ./app:/app

  frontend:
    build: app/frontend
    ports:
      - 127.0.0.1:3000:3000
    volumes:
      - ./app/frontend/components:/app/components
      - ./app/frontend/pages:/app/pages
      - ./app/frontend/styles:/app/styles
      - ./app/frontend/utils:/app/utils

  docker:
    image: docker:24-dind
    privileged: true
    environment:
      DOCKER_TLS_CERT_DIR: /certs
    volumes:
      - docker_certs:/certs
      - ./sandbox/docker:/sandbox

volumes:
  docker_certs:
