services:
  app:
    build:
      context: app
      dockerfile: dockerfile/dev/Dockerfile
    ports:
      - 127.0.0.1:8080:8080
    environment:
      DOCKER_HOST: http://docker:2376
      DOCKER_CERT_PATH: /certs/client
      DOCKER_TLS_VERIFY: 1
      # See app/config.toml as well
    volumes:
      - docker_certs:/certs
      - ./app/config.toml:/app/config.toml
      - ./app/mypy_playground:/app/mypy_playground
      - ./app/pyproject.toml:/app/pyproject.toml
      - ./app/tests:/app/tests
      - ./app/uv.lock:/app/uv.lock

  frontend:
    build: app/frontend
    ports:
      - 127.0.0.1:8000:5173
    environment:
      VITE_API_BASE_URL: http://app:8080
    volumes:
      - ./app/frontend/index.html:/app/index.html
      - ./app/frontend/public:/app/public
      - ./app/frontend/src:/app/src

  docker:
    image: docker:29.2-dind-rootless
    privileged: true
    environment:
      DOCKER_HOST: unix:///run/user/1000/docker.sock
      DOCKER_TLS_CERT_DIR: /certs
    volumes:
      - docker_certs:/certs
      - ./sandbox/docker:/sandbox

volumes:
  docker_certs:
