html {
  height: 100%;
}

body {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

header {
  flex: 0 0;
}

#editor {
  flex: 1 1 60%;
  font-size: 14px;
}

#result {
  flex: 1 1 40%;
  padding: 8px;
  overflow: auto;
  background: #eee;
}

.navbar {
  background-color: #2d618c;
}

.navbar #run {
  background-color: #ffd343;
  border-color: #ffd343;
}

/* We use default :focus effect now */
.navbar #run:hover {
  /* darken 10% */
  background-color: #e5b93e;
  /* darken 12% */
  border-color: #e0b53d;
}
