html {
  height: 100%;
}

body {
  display: flex;
  flex-flow: column;
  height: 100%;
}

header {
  flex: 0 0 auto;
}

header nav {
  background-color: #2d618c;
}

main {
  height: 100%;
  display: flex;
  flex: 1;
  flex-flow: column;
}

#editor {
  flex: 1 60%;
  font-size: 14px;
}

#result {
  padding: 8px;
  flex: 1 40%;
  overflow: auto;
  background: #eee;
}

.btn-nav-color {
  background-color: #ffd343;
  border-color: #ffd343;
}

.btn-nav-color:hover {
  /* darken 10% */
  background-color: #e5b93e;
  /* darken 12% */
  border-color: #e0b53d;
}
