<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>mypy Playground</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="static/index.css">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-inverse navbar-custom">
        <div class="container-fluid">
          <div class="navbar-header">
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">mypy Playground</a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-collapse">
            <form class="navbar-form navbar-left">
              <button class="btn btn-nav-color" id="run">Run</button>
              <button class="btn btn-default" id="gist">Gist</button>
              <select class="form-control" id="python_version" title="Python Version (--python--version)">
                % for ver in python_versions:
                  % selected = " selected" if ver == "3.6" else ""
                  <option value="{{ ver }}"{{ selected }}>Python {{ ver }}</option>
                % end
              </select>
              <button type="button" class="btn btn-default" data-toggle="modal" data-target="#options-modal">Options</button>
            </form>
            <form class="navbar-form navbar-right">
              <button type="button" class="btn btn-default" data-toggle="modal" data-target="#about-modal">About</button>
            </form>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div id="editor"></div>
      <div id="result"></div>
    </main>
    <div class="modal fade" id="options-modal" tabindex="-1" role="dialog" aria-labelledby="options-modal-label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="options-modal-label">Options</h4>
          </div>
          <div class="modal-body">
            <form>
            <div class="row">
              <div class="col-md-6">
                % for flag in flags_normal:
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" class="mypy-options" name="{{ flag }}" value="true"><code>--{{ flag }}</code>
                    </label>
                  </div>
                % end
              </div>
              <div class="col-md-6">
                % for flag in flags_strict:
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" class="mypy-options" name="{{ flag }}" value="true"><code>--{{ flag }}</code>
                    </label>
                  </div>
                % end
              </div>
            </div>
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="about-modal-label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="about-modal-label">About the mypy Playground</h4>
          </div>
          <div class="modal-body">
            <p>
              The mypy Playground is a web service that receives a Python program with type hints, runs mypy inside a sandbox, then returns the output.
            </p>
            <p>
              This project is an open source project started by <a href="https://www.ymyzk.com">Yusuke Miyazaki (@ymyzk)</a>.
              Source code is available at <a href="https://github.com/ymyzk/mypy-playground">GitHub</a>.
            </p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <script id="initial-code" type="text/plain">{{! initial_code }}</script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js" crossorigin="anonymous"></script>
    <script src="static/index.js"></script>
    % if ga_tracking_id:
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ ga_tracking_id }}', 'auto');
        ga('send', 'pageview');
      </script>
    % end
  </body>
</html>
