<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>mypy Playground</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="static/index.css">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark">
        <span class="navbar-brand mb-0 h1">mypy Playground</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
          <form class="form-inline my-2 my-lg-0 mr-auto">
            <button type="button" class="btn btn-light my-2 my-sm-0 mr-sm-2" id="run">Run</button>
            <button type="button" class="btn btn-light my-2 my-sm-0 mr-sm-2" id="gist">Gist</button>
            <select class="form-control mr-sm-2" id="mypy_version" title="mypy Version">
              {% for name, id in mypy_versions %}
                {% set selected = " selected" if id == "latest" else "" %}
                <option value="{{ id }}"{{ selected }}>{{ name }}</option>
              {% end %}
            </select>
            <select class="form-control mr-sm-2" id="python_version" title="Python Version (--python--version)">
              {% for ver in python_versions %}
                {% set selected = " selected" if ver == "3.7" else "" %}
                <option value="{{ ver }}"{{ selected }}>Python {{ ver }}</option>
              {% end %}
            </select>
            <button type="button" class="btn btn-light my-2 my-sm-0" data-toggle="modal" data-target="#options-modal">Options</button>
          </form>
          <form class="form-inline my-2 my-lg-0">
            <button type="button" class="btn btn-light my-2 my-sm-0" data-toggle="modal" data-target="#about-modal">About</button>
          </form>
        </div>
      </nav>
    </header>
    <div id="editor"></div>
    <div id="result"></div>
    <div class="modal fade" id="options-modal" tabindex="-1" role="dialog" aria-labelledby="options-modal" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="options-modal-label">Options</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-row">
                <div class="col-md-6">
                  {% for flag in flags_normal %}
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" class="mypy-options" name="{{ flag }}" value="true"> <code>--{{ flag }}</code>
                      </label>
                    </div>
                  {% end %}
                </div>
                <div class="col-md-6">
                  {% for flag in flags_strict %}
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" class="mypy-options" name="{{ flag }}" value="true"> <code>--{{ flag }}</code>
                      </label>
                    </div>
                  {% end %}
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="about-modal-label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="about-modal-label">About the mypy Playground</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>
              The mypy Playground is a web service that receives a Python program with type hints, runs mypy inside a sandbox, then returns the output.
            </p>
            <p>
              This project is an open source project started by <a href="https://www.ymyzk.com">Yusuke Miyazaki (@ymyzk)</a>.
              Source code is available at <a href="https://github.com/ymyzk/mypy-playground">GitHub</a>.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <script id="initial-code" type="text/plain">{% raw initial_code %}</script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/ace.js" crossorigin="anonymous"></script>
    <script src="static/index.js"></script>
    {% if ga_tracking_id %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ ga_tracking_id }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% end %}
  </body>
</html>
