name: Add mypy version

on:
  schedule:
    - cron: "00 20 * * *" # 20:00 (UTC) for mypy
    - cron: "30 20 * * *" # 20:30 (UTC) for basedmypy
  workflow_dispatch:
    inputs:
      package:
        description: Either mypy or basedmypy
        required: false
        type: string
        default: ""
      version:
        description: Package version
        required: false
        type: string
        default: ""
      python_version:
        description: Python version
        required: true
        type: string
        default: "3.14"

permissions:
  contents: write
  pull-requests: write

jobs:
  add-mypy-version:
    runs-on: ubuntu-latest
    steps:
      - name: Show inputs
        id: inputs
        run: |
          echo "Original inputs:"
          echo "  Package: $PACKAGE"
          echo "  Version: $VERSION"
          echo "  Python version: $PYTHON_VERSION"
          if [ -n "$PACKAGE" ]; then
            PACKAGE_OVERRIDE="$PACKAGE"
          elif [[ "$SCHEDULE" == "00 20 * * *" ]]; then
            PACKAGE_OVERRIDE="mypy"
          elif [[ "$SCHEDULE" == "30 20 * * *" ]]; then
            PACKAGE_OVERRIDE="basedmypy"
          else
            PACKAGE_OVERRIDE="mypy"
          fi
          echo "Using package: $PACKAGE_OVERRIDE"
          echo "package=$PACKAGE_OVERRIDE" >> "$GITHUB_OUTPUT"
        env:
          PACKAGE: ${{ github.event.inputs.package }}
          VERSION: ${{ github.event.inputs.version }}
          PYTHON_VERSION: ${{ github.event.inputs.python_version }}
          SCHEDULE: ${{ github.event.schedule }}

      - uses: actions/checkout@v6

      - name: Find new versions
        id: find_new_versions
        run: |
          if [ -n "${{ github.event.inputs.version }}" ]; then
            echo "Using manually specified version"
            echo "new_version=${{ github.event.inputs.version }}" >> "$GITHUB_OUTPUT"
          else
            NEW_VERSION=$(./find_new_versions.sh ${{ steps.inputs.outputs.package }} | head -n 1)
            echo "new_version=$NEW_VERSION" >> "$GITHUB_OUTPUT"
            if [ -n "$NEW_VERSION" ]; then
              echo "Found new version: $NEW_VERSION"
            else
              echo "::error::No new ${{ steps.inputs.outputs.package }} version found"
              exit 1
            fi
          fi
        working-directory: ./sandbox
        continue-on-error: ${{ github.event_name == 'schedule' }}

      - name: Set up Python
        if: steps.find_new_versions.outcome == 'success'
        uses: actions/setup-python@v6
        with:
          python-version: ${{ github.event.inputs.python_version }}

      - name: Set up pip-tools
        if: steps.find_new_versions.outcome == 'success'
        run: |
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install pip-tools

      - name: Add version and update latest tag
        if: steps.find_new_versions.outcome == 'success'
        run: |
          ./add_version.sh ${{ steps.inputs.outputs.package }} ${{ steps.find_new_versions.outputs.new_version }}
          ./update_latest.sh ${{ steps.inputs.outputs.package }} ${{ steps.find_new_versions.outputs.new_version }}
        working-directory: ./sandbox

      - name: Create pull request
        if: steps.find_new_versions.outcome == 'success'
        uses: peter-evans/create-pull-request@v8
        with:
            token: ${{ secrets.GITHUB_TOKEN }}
            commit-message: Add ${{ steps.inputs.outputs.package }} ${{ steps.find_new_versions.outputs.new_version }}
            committer: GitHub <noreply@github.com>
            author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
            signoff: false
            base: master
            branch: ${{ steps.inputs.outputs.package }}-new-version
            delete-branch: true
            title: Add ${{ steps.inputs.outputs.package }} ${{ steps.find_new_versions.outputs.new_version }}
            body: |
              - Add ${{ steps.inputs.outputs.package }} ${{ steps.find_new_versions.outputs.new_version }}
              - Update the latest tag
            draft: false
